{% extends 'base.html' %}

{% block title %}
    {{ object.title }} - {{ block.super }}
{% endblock %}

{% block main %}
<h1>{{ object }}</h1>
<p class="lead">
    {{ object.plot }}
</p>
{% endblock %}

{% block sidebar %}
<div>
    {% if vote_form %}
        <form method="post"
              action="{{ vote_form_url }}">
            {% csrf_token %}
            {{ vote_form.as_p }}
            <button
                class="btn  btn-primary">
                Vote
            </button>
        </form>
    {% else %}
    <p>Log in to vote for this movie</p>
    {% endif %}
    This movie is rated:
    <span class="badge badge-primary">
        {{ object.get_rating_display }}
    </span>
</div>
{% endblock %}
